body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: darkorange;
}
.half-width{
    margin-left: 5%;
    padding-left: 2%;
    width: 40%;
    float: left;

}
.half-width img{
    width: 100%;
    
}
.top-part{
    background-image: url("images/bg3.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 155px;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
}
.mid-part{
    background-image: url("images/bg1.png");
    background-repeat: no-repeat;
    background-position: right;
}
.orrange-highlight{
    color: orange;
}
.bottom-part{
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-position: left;
}
.shadow-box{
    box-shadow: 10px 15px 40px gray;
    height: 60%;
    border-radius: 5px;
    background-color: white;
}
#country{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,tomato,orange);
    border-image-slice:1;
}
#club{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice:1;
}
footer p{
    text-align: center;
    font-size: 12px;
}